*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
}
.heading h2{
    background-color: orange;
    height: 50px;
    padding-top: 12px;
}
.heading h3{
    /* width: 200px; */
    /* height: 70px; */
    font-size: 9cqw;
    background-color: darkgreen;
    color: #fff;
    margin: auto;
}






